 <section class="gallery">
    {{#each gallery}}
    <div class="gallery-item">

        <img src="{{imgUrl}}" alt="gallery">
        <h3>{{name}}</h3>
        <span class="price">{{content}}</span>
    </div>
    {{/each}}
</section>